In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:
data = pd.read_csv('Mobile-Price-Prediction-cleaned_data.csv')
data.shape

(807, 8)

In [14]:
data.head()

,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
0,4.3,4.0,128.0,6.00,48,13.0,4000,24999
1,3.4,6.0,64.0,4.50,48,12.0,4000,15999
2,4.3,4.0,4.0,4.50,64,16.0,4000,15000
3,4.4,6.0,64.0,6.40,48,15.0,3800,18999
4,4.5,6.0,128.0,6.18,35,15.0,3800,18999

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 807 entries, 0 to 806
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Ratings        807 non-null    float64
 1   RAM            807 non-null    float64
 2   ROM            807 non-null    float64
 3   Mobile_Size    807 non-null    float64
 4   Primary_Cam    807 non-null    int64
 5   Selfi_Cam      807 non-null    float64
 6   Battery_Power  807 non-null    int64
 7   Price          807 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 50.6 KB

In [16]:
data.columns.tolist()

['Ratings',
 'RAM',
 'ROM',
 'Mobile_Size',
 'Primary_Cam',
 'Selfi_Cam',
 'Battery_Power',
 'Price']

In [17]:
rows, cols = data.shape
print(f"Rows: {rows}")
print(f"Columns: {cols}")

Rows: 807
Columns: 8

In [18]:
data.describe()

,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
count,807.000000,807.000000,807.000000,807.000000,807.000000,807.000000,807.000000,807.000000
mean,4.112639,5.941760,64.390335,5.620660,47.821561,8.868649,3278.859975,14269.167286
std,0.367830,2.056359,53.868626,3.957409,11.155916,4.547254,937.628801,23092.739983
min,2.800000,0.000000,2.000000,2.000000,5.000000,0.000000,1020.000000,479.000000
25%,3.900000,6.000000,32.000000,4.500000,48.000000,8.000000,3000.000000,984.000000
50%,4.100000,6.000000,32.000000,4.770000,48.000000,8.000000,3000.000000,1699.000000
75%,4.400000,6.000000,64.000000,6.300000,48.000000,12.000000,3800.000000,18994.500000
max,4.800000,12.000000,256.000000,44.000000,64.000000,23.000000,6000.000000,153000.000000

In [19]:
null_values = data.isnull().sum()
print(null_values)
print("\nTotal:", null_values.sum())

Ratings          0
RAM              0
ROM              0
Mobile_Size      0
Primary_Cam      0
Selfi_Cam        0
Battery_Power    0
Price            0
dtype: int64

Total: 0

In [20]:
data.dtypes

Ratings          float64
RAM              float64
ROM              float64
Mobile_Size      float64
Primary_Cam        int64
Selfi_Cam        float64
Battery_Power      int64
Price              int64
dtype: object

In [23]:
# Robustly handle missing/renamed columns (use alternatives or show available columns)
col_candidates = ['make', 'brand', 'manufacturer', 'maker']
col_map = {c.lower().strip(): c for c in data.columns}
found = None
for cand in col_candidates:
    if cand in col_map:
        found = col_map[cand]
        break
if found is None:
    print("Column 'make' not found. Available columns:")
    print(data.columns.tolist())
else:
    print(data[found].unique())
    print("\nUnique makes:", data[found].nunique())
    print("\n" + "="*50)
    print("\nFuel types:")
    if 'fuel_type' in col_map:
        print(data[col_map['fuel_type']].unique())
    elif 'fuel' in col_map:
        print(data[col_map['fuel']].unique())
    else:
        print("No 'fuel_type' column found.")
    print("\n" + "="*50)
    print("\nTransmission types:")
    if 'transmission' in col_map:
        print(data[col_map['transmission']].unique())
    else:
        print("No 'transmission' column found.")

Column 'make' not found. Available columns:
['Ratings', 'RAM', 'ROM', 'Mobile_Size', 'Primary_Cam', 'Selfi_Cam', 'Battery_Power', 'Price']

In [24]:
data.sample(10)

,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
54,3.5,6.0,32.0,4.50,64,17.0,1050,799
153,3.9,6.0,32.0,4.50,48,8.0,1750,999
148,4.1,6.0,32.0,4.50,48,16.0,3000,649
560,4.6,12.0,25.0,6.50,64,13.0,3800,35999
741,3.8,6.0,32.0,4.54,25,15.0,2500,1240
695,3.8,4.0,64.0,4.54,48,8.0,1200,4277
541,3.6,1.0,32.0,4.50,48,8.0,3500,799
800,4.4,6.0,128.0,6.39,48,12.0,3800,31999
671,3.4,6.0,64.0,4.54,20,5.0,3500,1299
692,4.4,6.0,128.0,6.26,48,2.0,3750,22999